{% extends "base.html" %}
{% import "_brand.html" as brand %}
{% block body %}
<div class="main landing" role="main">
  {% include "nav.html" %}

  <article class="legal">
    {% block legal_body %}{% endblock %}
  </article>

  <div class="footer">
    <span class="brand" style="padding:0">{{ brand.brand_logo(20) }}</span>
    <span class="spacer"></span>
    <a href="/terms">Terms</a>
    <span>·</span>
    <a href="/privacy">Privacy</a>
    <span>·</span>
    <a href="/refund">Refund</a>
    <span>·</span>
    <span>© 2026</span>
  </div>
</div>
{% endblock %}
